In [1]:
import pandas as pd

In [3]:
s = pd.Series([2,4,34,2,7,9])

In [7]:
print(s)

0     2
1     4
2    34
3     2
4     7
5     9
dtype: int64

In [5]:
type(s)

pandas.core.series.Series

In [9]:
s1 = pd.Series([45,67,89],index = ["Harry","Shubh","momin"])

In [10]:
s1

Harry    45
Shubh    67
momin    89
dtype: int64

In [11]:
s1["Harry"]

np.int64(45)

DataFrame

In [13]:
data = {
    "name":["Alice","Bob","Charlie"],
    "age" : [24,43,12],
    "city" :["Delhi","mumbai","Bangalore"]
}

In [18]:
df = pd.DataFrame(data) ##from dictionary
df

      name  age       city
0    Alice   24      Delhi
1      Bob   43     mumbai
2  Charlie   12  Bangalore

In [17]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [19]:
df.columns

Index(['name', 'age', 'city'], dtype='object')