In [7]:
import pandas as pd

In [8]:
data = [['harry',34], ['jack',54], ['jill',31]]

In [9]:
data

[['harry', 34], ['jack', 54], ['jill', 31]]

In [10]:
pd.DataFrame(data,columns=["Name","Marks"]) ##from lists

    Name  Marks
0  harry     34
1   jack     54
2   jill     31

In [11]:
data1 = { "a" :[2,3,4], "b" : [2,5,8]}
pd.DataFrame(data1) ##from dictionary

   a  b
0  2  2
1  3  5
2  4  8

In [12]:
import numpy as np

In [13]:
arr = np.array([[2,3,4],[3,76,87]])

In [14]:
df = pd.DataFrame(arr,columns = ["a","b","c"]) ##from numpy array

In [15]:
df

   a   b   c
0  2   3   4
1  3  76  87

In [16]:
pd.read_excel("marks.xlsx")  ##will read excel file,mac doesnt have excel

FileNotFoundError: [Errno 2] No such file or directory: 'marks.xlsx'

In [33]:
pd.read_csv("data.csv") ##small excel file,just includes data ,can be by created here by .csv extension

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe6 in position 14: invalid continuation byte

In [21]:
df = pd.read_json("data.json")

In [22]:
df

    name language
0  momin   python
1  waris   python

In [23]:
df = pd.read_csv("http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")

In [24]:
df

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [25]:
df.head() ##first 5 rows

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [26]:
df.tail() ##last 5 rows

     5.1  3.5  1.4  0.2     Iris-setosa
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   5.1          149 non-null    float64
 1   3.5          149 non-null    float64
 2   1.4          149 non-null    float64
 3   0.2          149 non-null    float64
 4   Iris-setosa  149 non-null    object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [28]:
df.describe()

              5.1         3.5         1.4         0.2
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [30]:
df.columns

Index(['5.1', '3.5', '1.4', '0.2', 'Iris-setosa'], dtype='object')

In [31]:
df.shape

(149, 5)